
.container {
    margin-top: 60px;
}

mark {
  background-color: #80cbc4 ;
  font-weight: 600;
  /* background: none; */
}

span.hightlight {
  font-weight: 600;
}

#tTime,
#tDate {
  font-size: 1.3rem;
} 

#tDate::after {
  content: " | ";
}

#tDate::after {
  font-size: 2rem;
  line-height: 16px;
  margin-right: 4px;
}

@media screen and (max-width: 1080px){
  #tTime,
  #tDate{
    font-size: 1.1rem;
    margin-right: 4px;
  }
}

@media screen and (max-width: 1080px){
  #tTime::before {
    content: "";
  }
}


.collection .songItem {
    background-color: #eee;
}


ul.collection {
  margin-bottom: 20px !important;
}

.delete-item:hover {
  cursor: pointer;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal.clearTaskModal{
  width: 35%
}
@media screen and (max-width:1000px){
  .modal.clearTaskModal{
    width: 100%
  }
}
.modal .modal-footer.modal-btns {
  text-align:center;
  margin: auto auto 10px;
  height: 65px;
}

.modal .modal-footer.modal-btns .btn {
  margin-right: 10px;
}

@media screen and (max-width:1000px){
  .modal .modal-footer.modal-btns .btn {
    font-size: 0.8rem;
  }
}